.collapse_form {
  display: flex;
  flex-direction: column;
  border: inherit;
  border-radius: 13px;
  background-color: white;
  max-width: 400px;
  overflow-wrap: break-word;
}

.collapse_text {
  padding: 10px;
  color: gray;
  display: flex;
}

.collapse_tittle {
  display: flex;
  width: max-content;
  padding-left: 10px;
}

.radio_form {
  display: flex;
  gap: 10px;
  align-items: center;
}

.radio-input {
  display: none;
}

.ImgSlider {
  position: absolute;
  display: flex;
  justify-content: center;
  gap: 20px;
  right: 50%;
  top: 80%;
}
